<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.roundpay.image.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="com.roundpay.imagepicker.CustomFileProvider"
            android:authorities="${applicationId}.smart-image-picker-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
